$duration: 350ms;
$easing: ease-in-out;

.social-block {
  position: relative;

  &:hover {
    .social-block__list {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.social-block__toggler {
  @include btn-reset;
  position: relative;
  display: block;
  width: 4rem;
  height: 4rem;
  color: $c-dark;
  border-radius: 50%;

  @media (max-width: $tablet) and (orientation: portrait) {
    display: none;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    display: none;
  }

  &::before {
    @include center;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: $c-light;
    border: 2px solid $c-light;
    z-index: -1;
    transition-property: width, height, border;
    transition-duration: $duration;
    transition-timing-function: $easing;
  }

  svg {
    @include center;
    display: block;
    width: 2.3rem;
    height: 2.2rem;
    transition: color $duration $easing;
  }

  &:hover,
  .social-block--active & {
    color: $c-purple;

    &::before {
      width: 112.5%;
      height: 112.5%;
    }
  }

  &:focus {
    color: $c-purple;
    outline: none;

    &::before {
      border-color: $c-purple;
    }

    & + .social-block__list {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &:active,
  &:active:focus {
    color: $c-light;

    &::before {
      width: 100%;
      height: 100%;
      background-color: $c-purple;
      border-color: $c-purple;
    }
  }
}

.loaded .social-block__toggler {
  &::before {
    animation: scale-social-btn 400ms cubic-bezier(0.34, 1.56, 0.64, 1) 500ms backwards;
  }
}



.social-block__list {
  @include list-reset;
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 1.5rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity $duration $easing;

  @media (min-width: $stop-scaling) {
    margin-top: 15px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    opacity: 1;
    pointer-events: auto;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    opacity: 1;
    pointer-events: auto;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    height: 1.5rem;

    @media (min-width: $stop-scaling) {
      height: 15px;
    }
  }

  &:hover {
    opacity: 1;
    pointer-events: auto;
  }

  &:focus-within {
    opacity: 1;
    pointer-events: auto;
  }

  .social-block--active & {
    opacity: 1;
    pointer-events: auto;
  }

  li {
    flex: none;
    margin-bottom: 0.5rem;
    opacity: 0;
    transform: translateY(1rem);
    transition-property: opacity, transform;
    transition-duration: $duration;
    transition-timing-function: $easing;
    transition-delay: 0ms, $duration;

    @media (min-width: $stop-scaling) {
      margin-bottom: 5px;
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      margin: 0 1.25rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      margin: 0 1.25rem;
    }
  }
}

.social-block--active {
  .social-block__list {
    transition: opacity 0ms;
  }

  li {
    opacity: 1;
    transform: translateY(0px);
    transition-property: transform, opacity;
    transition-duration: $duration;
    transition-timing-function: $easing;
    transition-delay: 0ms;
    &:nth-child(2) {
      transition-delay: 100ms;
    }
    &:nth-child(3) {
      transition-delay: 200ms;
    }
  }
}

.social-block__link {
  $duration: 350ms;
  $easing: $easing;

  position: relative;
  display: block;
  width: 4rem;
  height: 4rem;
  color: $c-light;
  border: 2px solid transparent;
  border-radius: 50%;

  transition-property: background-color, color, border;
  transition-duration: $duration;
  transition-timing-function: $easing;

  @media (min-width: $stop-scaling) {
    width: 40px;
    height: 40px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    color: $c-light;
    background-color: $c-dark;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    color: $c-light;
    background-color: $c-dark;
  }

  &:hover {
    color: $c-purple;
  }

  &:focus {
    color: $c-purple;
    background-color: $c-light;
    border-color: $c-purple;
    outline: none;
  }

  &:active,
  &:active:focus {
    color: $c-purple;
    background-color: $c-light;
    border-color: $c-light;
  }

  svg {
    @include center;
  }

  &--fb {
    svg {
      width: 0.8rem;
      height: 1.7rem;

      @media (min-width: $stop-scaling) {
        width: 8px;
        height: 17px;
      }
    }
  }

  &--insta {
    svg {
      width: 1.5rem;
      height: 1.5rem;

      @media (min-width: $stop-scaling) {
        width: 15px;
        height: 15px;
      }
    }
  }

  &--vk {
    svg {
      width: 1.7rem;
      height: 1rem;

      @media (min-width: $stop-scaling) {
        width: 10px;
        height: 10px;
      }
    }
  }
}
