@keyframes fade-in {
	from {
    visibility: hidden;
    opacity: 0;
    transform: translateY(2rem);
  }

	to {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
	}
}

@keyframes fade-left {
	from {
    visibility: hidden;
    opacity: 0;
    transform: translateX(2rem);
  }

	to {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
	}
}

@keyframes increase-width {
	from {
    width: 0;
  }

	to {
    width: calc(100% - 21rem);
	}
}

@keyframes scale-social-btn {
	from {
    transform: translate(-50%, -50%) scale(0);
  }

	to {
    transform: translate(-50%, -50%) scale(1);
	}
}

@keyframes active-item-menu {
	from {
    left: 0;
    right: auto;
    width: 0;
  }

	to {
    left: 0;
    right: auto;
    width: 100%;
	}
}
